/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
html,body {
  height:100%;
  margin: 0;
  padding: 0;
  background-color: #9ac2fe;
}
body {
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
}